.commentWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.title {
    font-size: 20px;
    color: teal;
}

.commentText {
    font-size: 15px;
    color: gray;
}