.quoteItem {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 6px;
    background-color: #c2e7f0;
    gap: 30px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 65%;
    overflow-wrap: break-word;
}

.title {
    font-size: 1.3rem;
    color: #000;
}

.description {
    font-style: italic;
    color: #566d6d;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
    min-width: 165px;
    font-size: 1rem;
}

.btn:hover {
    background-color: #11acac;
    border-color: #11acac;
}